#WordPress configuration file and its template file
wp-config.php
wp-config-sample.php

#Apache / PHP server configuration files
/.htaccess
.user.ini
php.ini

#Log files
*.log
error_log

#Dynamic files and directories
/wp-content/cache/
/wp-content/*-cache.php
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/

#Dynamic files and directories (plugin-specific samples)
/wp-content/ewww/
/wp-content/db.php
/wp-content/autoptimize_404_handler.php
/wp-content/wp-cloudflare-super-page-cache/
/wp-content/wpo-cache/
/wp-content/ai1wm-backups/

#File-system specific files
.DS_Store
Thumbs.db
